.RoundCard {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.text {
  top: 50;
  left: 50;
}

.card {
  padding: 50px;
  background: #ffffff;
}

.card:hover {
  background: #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
}
.heading1Text {
  text-align: center;
  color: #137ece;
  margin: 30px 0px;
}
