.footer {
  background-color: #077cd4;
  padding: 50px;
}

.list {
  margin: 15px 0px;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  text-decoration: none;
  color: rgb(184, 213, 247);
}
